body {
    background-color: red;
}
.painel {
    margin: auto;
    width: 500px;
    background-color: white;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Dosis', sans-serif;
}
#sim {
    height: 20px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    margin-left: -45px;
}
#nao {
    position: absolute;
    height: 20px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    margin-left: 8px;
}